body{
    width: 100%;
    background-image:url(../img/talisman.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

#container{
    text-align: center;
    padding-right: 10%;
}
h1{
    font-size: 32px;
    color:#fff;
}
#buttons{
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 20px;
    padding:15px 50px;
    font-size: 18px;
    color:#fff;
    background-color:#4CAF50;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color:#45a049;
}
#btnNo{
    background-color:#f44336;
}
#btnNo:hover{
    background-color: #d32f2f;
}

img{
    margin-top: 30px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
